.card{
    margin: 100px auto auto;
    height: 400px;
    width: 300px;
    border: 3px black solid;
    border-radius: 10px;
}
.card button {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10px;

}
.image {
    width: 80%;
    padding: 30px;
    border-radius: 20%;
}
.card p {
    text-align: center;
}
.card h2{
    text-align: center;
}


header{
    text-align: center;

}
.logo h2{
    margin-bottom: 0;
}

.logo{
    background-color: #5b5bf3;
    color: white;
    margin-bottom: 0;
}
.menu{
    background-color: #030304;

    margin: 0;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}
a:hover{
    color: darkgoldenrod;
}