.hero{
    height: 100vh;
    background:url(../ProjectAssets/hero-1-bg.png), url(../ProjectAssets/hero-1-img.png);
    background-size: inherit;
    background-position: right bottom;
    background-repeat: no-repeat;
    position: relative;
}
.hero-img {
    max-width: 100%;
    height: auto;
}

.carousel .card{
    border: 1px solid lightgray;
}
.carousel .card:hover {
    border: none;
    box-shadow: 2px 2px 4px #000;
}
.carousel-indicators[data-bs-target] {
    background-color: forestgreen;
    width: 10px;
}
.carousel-indicators[data-bs-target].active {
    background-color: #18ff18;
    width: 20px;
}
/*Section chat*/
.chat{
    background-color: #f9f9fd;
    background-image: url(../ProjectAssets/chat.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
}
.chat .card img {
    color: yellow;

}